.good-class {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.low-rider-car {
    animation: 6s drive infinite linear;
}
.low-rider-bounce {
    animation: 6s bounce infinite linear;
    overflow-x: hidden;
    padding: 40px 0;
}

.low-rider-roll {
    width: 150px;
    animation: 6s roll infinite linear;
}

.stats-button{
    position: absolute;
    left: -100px;
    top: 100px;
}

@keyframes roll {
    42% {
        transform: rotate(0deg);
    }
    58% {
        transform: rotate(720deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

@keyframes bounce {
    40% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-400px);
    }
    60% {
        transform: translateY(0);
    }
}

@keyframes drive {
    from {
        transform: translateX(-150px);
    }
    to {
        transform: translateX(calc(100% + 150px));
    }
}

h1, h2{
    color: white !important;
}

.car-1 {
    animation: 0.5s spin-left infinite linear;
    animation-delay: 1.2s;
}

.car-2 {
    animation: 0.2s spin-right infinite linear;
    animation-delay: 2.5s;
}

.car-3 {
        animation: 0.2s spin-crazy infinite linear;
        animation-delay: 3.7s;
}

@keyframes spin-left {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes spin-right {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes spin-crazy {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotatey(359deg);
    }
}
